#cover {
    color: var(--white);
}

#pop-up {
    height: 70vh;
    width: 60vw;

    padding: 30px;
    border-radius: 50px;
}

.head-text {
    font-size: 3em;
}

#pop-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.sub-text {
    font-size: 1.8em;
}

.rule-card {
    gap: 5px;
}

.nor-text {
    margin-block: 15px;

    font-size: 1.15em;
    line-height: 1.5em;
}

.sm-icon {
    width: 50px;
}

.lg-icon {
    width: 75px;
}

#name-grid {
    gap: 15px;
}

#name {
    background: none;
    color: var(--yellow);

    font-size: .85em;
}

.btn {
    font-size: .95em;
}

#name, .btn {
    width: 100%;
    padding: 7px 14px;

    border: 1px solid var(--yellow);
    border-radius: 5px;
}