#cover {
    position: fixed;
    top: 0; left: 0;

    width: 100vw;
    color: var(--white);
}

#pop-up {
    height: 73vh;
    width: 62vw;

    padding: 35px;
    border-radius: 50px;
}

.head-text {
    font-size: 3.2em;
}

#pop-grid {
    grid-template-columns: repeat(2, 1fr);
}

.sub-text {
    font-size: 1.8em;
}

.rule-card {
    gap: 5px;
}

.nor-text {
    margin-block: 15px;

    font-size: 1.15em;
    line-height: 1.5em;
}

.sm-icon {
    width: 50px;
}

.lg-icon {
    width: 75px;
}

#name-grid {
    gap: 12px;
}

#name {
    background: none;
    color: var(--yellow);

    font-size: 1em;
}

.btn {
    font-size: 1.15em;
}

#name, .btn {
    width: 100%;
    padding: 7px 14px;

    border: 1px solid var(--yellow);
    border-radius: 5px;
}

#grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    padding: 10px;
    border-radius: 15px;
}

.cell {
    width: 110px;
    aspect-ratio: 1;

    transition: .12s ease-in;
}

.cell img {
    width: 70%;
}

.fresh:hover {
    background: var(--dark1);
}